map $server_port $my_scheme {
    default http;
    443 https;
}

map $my_scheme $my_ssl {
    default off;
    https on;
}

server {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay off;

    listen 80;
    server_name {{ server_name }};
    access_log /var/log/nginx/{{ instance_name }}-access.log;
    error_log /var/log/nginx/{{ instance_name }}-error.log;

    charset utf-8;
    keepalive_timeout 5;
    client_max_body_size 8m;

    gzip_types text/plain text/xml text/css application/javascript application/x-javascript application/json;

    index index.php;
    root {{ current_project_link }}/public;

    location / {
        rewrite /. $uri.php?$args;
    }

    location /user/ {
        rewrite ^ /main.php?id=$uri&$args;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php5-fpm.socket;
        include fastcgi_params;
    }

    location ~ \.(jpg|jpeg|gif|png|ico|css|js|txt)$ {
       access_log off;
       autoindex off;
       expires 1M;
    }

    error_page 500 502 503 504  /500.html;
    location = /500.html {
        root {{ current_project_link }}/public/templates;
    }

    error_page 404  /404.html;
}

server {
    listen 80;
    server_name www.{{ server_name }};
    rewrite ^ https://{{ server_name }}$uri permanent;
}
